.ipod-container{
  padding:1dvw;
  width:18dvw;
  height:58dvh;
  position: relative;
  top:20dvh;
  left:40dvw;
  background-color: rgb(224, 221, 221);
  border-radius: 1.5rem;

  box-shadow: inset gray 0px 0px 60px -12px;
}

.root{
  font-family: sans-serif;
}

.controls-container{
    width:18dvw;
    height:29dvh;
}
.controls-outer{
    position: relative;
    background-color: aliceblue;
    width:85%;
    height:90%;
    top:7.5%;
    left:7.5%;
    border:1px solid balck;
    border-radius: 50%;
}
.Menu-button{
  position: absolute;
  border :none;
  background: none;
  left:40%;
}
.backward-button{
  position:absolute;
  border :none;
  background: none;
  top:40%;
  left:5%;
}
.forward-button{
  position:absolute;
  border :none;
  background: none;
  left:85%;
  top:40%;
}
.play{
  position:absolute;
  border :none;
  background: none;
  left:40%;
  top:80%;
}

.center-button{
  position: absolute;
  display:block;
  width:60%;
  height:60%;
  border :1px solid black;
  
  border-radius:50%;
  left:20%;
  top:20%;
}
.ipod-screen{
  background-color: white;
  padding-top:0.5dvh;
  padding-bottom:0.5dvh;
  padding-left:0.5dvw;
  padding-right:0.5dvw;
  width:17dvw;
  height:28dvh;
  aspect-ratio:1/1;
  border-radius: 1rem;
  border:2px black solid;
}
.ipod-screen >div >ul{
  margin:0;
  padding: 0;
}


.highlight{
  border-radius: 5px;
  background-color: rgb(119, 133, 133);
}
body {
  draggable:none;
  font-size: large;
  font-weight: 600;
}
.ipod-container {
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(244, 232, 232, 0), rgba(14, 13, 13, 0.4));


}